config.status
config.log
Makefile
*.o
*.a
*.so
tclIndex
pkgIndex.tcl
astrotclConfig.sh
catConfig.sh
cat_version.tcl
rtd
rtdClient
rtdConfig.sh
rtdCubeDisplay
rtdServer
rtd_version.tcl
tRtd
skycat-star
skycatConfig.sh
skycat_version.tcl
tclutil.sh
tclutilConfig.sh
tclutil_version.tcl

