*.a
*.o
*.so
*~
Makefile
astrotclConfig.sh
autom4te.cache
catConfig.sh
cat_version.tcl
config.*
configure.lineno
pkgIndex.tcl
rtd
rtdClient
rtdConfig.sh
rtdCubeDisplay
rtdServer
rtd_version.tcl
skycat-star
skycat/linux/skycat.spec
skycatConfig.sh
skycat_version.tcl
tRtd
tclIndex
tclutil.sh
tclutilConfig.sh
tclutil_version.tcl

*.dSYM
*.dylib
